# Assignment 16

#### 1. Create a list called years_list, starting with the year of your birth, and 
#### each year thereafter until the year of your fifth birthday. For example, if you were born in 1980.
#### the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [10]:
years_list = [i for i in range(1999,1999+6)]
years_list

[1999, 2000, 2001, 2002, 2003, 2004]

####  2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [11]:
years_list[3]

2002

#### 3.In the years list, which year were you the oldest?

In [12]:
max(years_list)

2004

#### 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [13]:
things = list(['mozzarella', 'cinderella','salmonella'])
things

['mozzarella', 'cinderella', 'salmonella']

#### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [15]:
for i in things:
    print(i.capitalize())
things

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

#Capitalize() will not update the list original values.

#### 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [16]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

#### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [17]:
surprise_list[-1].lower()

'harpo'

In [18]:
surprise_list[-1][::-1]

'opraH'

In [19]:
surprise_list[-1][::-1].upper()

'OPRAH'

#### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words:
#### dog is chien, cat is chat, and walrus is morse.

In [21]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

#### 9. Write the French word for walrus in your three-word dictionary e2f.

In [22]:
e2f['walrus']

'morse'

#### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [23]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

#### 11. Print the English version of the French word chien using f2e.

In [24]:
f2e['chien']

'dog'

12. Make and print a set of English words from the keys in e2f.

In [25]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

13. Make a multilevel dictionary called life. Use these strings for the topmost keys:
    'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary 
    with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the 
    values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [26]:
life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

14. Print the top-level keys of life.

In [27]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

15. Print the keys for life['animals'].

In [28]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

16. Print the values for life['animals']['cats']

In [29]:
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']